@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-teal:  #43766C;
  --color-cream: #F8FAE5;
  --color-tan:   #B19470;
  --color-brown: #76453B;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-brand-cream text-brand-brown font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-title;
  }
}
@layer components {
  .page-wrapper {
    @apply w-full max-w-[430px] mx-auto md:max-w-[1200px] px-4;
    padding-top: var(--nav-height, 64px);
  }
}